.Nzbiranik-tree-view .Nzbiranik__buttons {
    padding: 5px 0;
}

.Nzbiranik-tree-view .Nzbiranik-tree__children{
    padding-left: 20px;
}

.Nzbiranik-tree details{
    padding: 3px;
}

.Nzbiranik-tree summary{
    position: relative;
    display: flex;
}

.Nzbiranik-tree details > summary::after{
    content: url("up.svg");
    padding: 0 5px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.Nzbiranik-tree details[open] > summary::after{
    content: url("down.svg");
}

.Nzbiranik-tree .Nzbiranik-tree__add-child {
    padding: 0 3px;
}

.Nzbiranik-tree .Nzbiranik-tree__draggable-item_dragging {
    border: 1px solid #000;
}

.Nzbiranik-tree .Nzbiranik-tree_draggable-item_moved {
    border: 1px dotted #000;
}

.Nzbiranik-tree .Nzbiranik-tree__button-move-down {
    cursor: pointer;
}

.Nzbiranik-tree .Nzbiranik-tree__button-move-up {
    cursor: pointer;
}