.Nzbiranik_tree_view .Nzbiranik_tree_children{
    padding-left: 20px;
}

.Nzbiranik_tree details{
    padding: 3px;
}

.Nzbiranik_tree summary{
    position: relative;
}

.Nzbiranik_tree details > summary::after{
    content: url("up.svg");
    padding: 0 5px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.Nzbiranik_tree details[open] > summary::after{
    content: url("down.svg");
}

.Nzbiranik_tree .Nzbiranik_tree_add-child {
    padding: 0 3px;
}